<h2>Driver: <%= @driver.name %></h2>
<p>Name: <%= @driver.name %><br />
Vehicle: <%= @driver.vehicle %></p>
<h3>Recent Journeys</h3>
<% @driver.recent_journeys.each do |j| %>
	<%= link_to j.id, :action => "journey", :id => j %><br />
<% end %>
