<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<style type="text/css">
  html { height: 100% }
  body { height: 100%; margin: 0px; padding: 0px }
  #map_canvas { height: 100% }
</style>
<title>Team Extreme</title>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
  function initialize() {
    var myLatlng = new google.maps.LatLng(-34.397, 150.644);
    var myOptions = {
      zoom: 8,
      center: myLatlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
   <% @drivers.each_with_index do |d, i| %>
	<% m = d.most_recent_marker %>
	var marker<%= i %> = new google.maps.Marker({
	position: new google.maps.LatLng(<%= m.lat %>, <%= m.long %>),
	map: map,
	title: "<%= d.name %>"
	});
	var info<%= i %> = new google.maps.InfoWindow({
		content: 'Driver: <%= link_to d.name, :action => :driver, :id => d %>'
	});
	google.maps.event.addListener(marker<%= i %>, 'click', 
function(){
	info<%= i %>.open(map, marker<%= i %>);});
  <% end %>
}
</script>
</head>
<body onload="initialize()">
  <div id="map_canvas"></div>
</body>
</html>

